@font-face { font-family: Roc Grotesk Wide; 
    src: url('/fonts/Roc_Grotesk/Fontspring-DEMO-rocgroteskextrawide-medium');}
@font-face { font-family: Violet-Sans; 
    src: url('/fonts/violet-sans/TTF/VioletSans-Regular.ttf');}

/* HOUSEKEEPING */
*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.margin{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 8%;
    height: 100vh;
    background: blue;
    opacity: .5;
}
.margin2{
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 8%;
    height: 100vh;
    background: blue;
    opacity: .5;
}
.margin3{
    z-index: 99;
    position: fixed;
    width: 27px;
    height: 9749px;
    left: 47.5%;
    top: 0;
    background: blue;
    opacity: .5;
}
.margin4{
    z-index: 99;
    position: fixed;
width: 27px;
height: 9749px;
right: 47.5%;
top: 0;

background: rgba(0, 56, 255, 0.5);
}
::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: #e62041;
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg,#c43131,#D62121 100%);
    background: #e62041;
  }

:root{
    --off-black: rgb(5, 5, 5);
    --off-grey: #383838;
    
}
@font-face { font-family: TSBlock; src: "/TS Block Bold"; }

html 
{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
}
input, button, textarea, select {
    font: inherit;
}
/* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
} */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* HOUSEKEEPING */
body{
    overflow-x: hidden;
    background:rgb(223, 223, 223);
    /* background: rgb(12, 12, 12); */
    color: rgb(22, 22, 22);
    font-family: "Roc Grotesk", sans-serif;
    font-family: Violet-Sans; 
    text-decoration: none;
    /* -webkit-font-smoothing: antialiased; */
    line-height: 1.5;
}
p, h2{
    font-family: 'Inter', sans-serif;
    color: rgb(31, 31, 31);
}
.animated-text{
    color: var(--off-black);
}


/* .scrollWrapper1 {
    width: 100vw;
    height: 540vh;
    overflow-y: auto;
    overflow-x: hidden; 
    perspective: .5px;
    transform-style: preserve-3d;
}
.scrollWrapper2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -10px;
    margin:0;
    padding:0;
    transform: translateZ(-.5px)  scale(1.5);
} */

nav{
  padding-top: 1%;
    opacity: .8;
    /* font-family: 'Saira', sans-serif; */
    mix-blend-mode: difference;
    line-height: .2rem;
    z-index: 999;
    position: fixed;
    height: 8px;
    width: 100vw;
    transition: all .5s ease-in-out;
}
.title-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-cont img{
    margin-bottom: 3px;
    width:30px;
}
.title-cont2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-cont2 img{
    margin-top:110px;
    width:35px;
}
.title-cont3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title-cont3 img{
    width:35px;
}
.goals-text{
    margin-top: -5%;
}
nav ul{
    float: right;
    margin-right: 7%;
    margin-top: 1%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    line-height: 80px;
}

nav ul li a{
    text-decoration: none;
    color: #d8d6f5;
    font-size: clamp(1.2em, 1.2vw, 6.5em);
    font-weight: 300;
}

li a:hover{
    transition: .2s ease-in-out;
}
.nav-item:hover{
    transition: .1s ease-in-out;
}
nav ul li a:hover {
    letter-spacing: .1rem;
}

.un {
    display: inline-block;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 60%; /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 1.2s; /*change after the size immediately*/
  }
  
  .un:hover {
    background-position: 100% 60%; /*OR bottom right*/
    background-size: 100% 1px;
  }
  .document-section{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 200px;
    height: auto;
}
.document-section p{
    opacity: 0.3;
}
.document-section a{
    opacity: .3;
}
.document-section a:hover{
    opacity: 1.0;
}

.document-info p{
    
    width: 100%;
    margin: auto;
}

/* li a.contact:hover{
    opacity: .75;
    transition: .2s ease-in-out;
    background: linear-gradient(225deg, #FE7474 10%, rgb(255, 178, 83) 27%, rgb(161, 255, 126) 43%, rgb(120, 187, 255) 66%, rgb(255, 99, 182)80%, #FE7474 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
    Reference: https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
} */

.sectiongap{
    width: 100vw;
    height: 100px;
}

.basic{
    letter-spacing: .2rem;
    font-weight: 400;
    font-size: 1.1em;
}

.s2 ul.h2 span{
    color: rgba(5, 5, 5, 0.5);
    font-family: 'Inter';
    font-weight: 100;
    font-size: 2rem;
    font-style: normal;
    font-weight: 100;
    font-size: clamp(3em, 5vw, 8em);
}

.s2 ul.h1 span{
    position: relative;
    font-weight: 800;
    font-size: 2.9rem;
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 700;

    color: #050505;
}

nav #anim, nav #anim3{
    position: fixed;
    filter: brightness(0) invert(1);
    width: 15rem;
    /* margin-top: -2.2%; */
    margin-left: 1.8%;
}

#anim:hover, #anim3:hover{
    transform: scale(1.1);
}
#anim2{
    opacity: .7;
    mix-blend-mode: difference;
    color: white;
    filter: brightness(0) invert(1);
    width: 15rem;
}
#anim2:hover{
    transform: scale(1.0);
}
#anim4{
    color: white;
    filter: brightness(0) invert(1);
    width: 15rem;
}
#anim4:hover{
    transform: scale(1.1);
}
.footer-holder{
    /* border: solid red 5px; */
    margin-top: -5%;
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    /* filter: invert(100%); */
    width: 6%;
    min-width: 90px;
    margin-top: 1.5%;
    margin-left: 7.5%;
}

.logo2{
    cursor: pointer;
    display:block;
    filter: invert(100%);
    width: 5rem;
    margin: auto;
    margin-top: -4%;
}

.logo:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
    filter: invert(65%);
}
.logo2:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
    filter: invert(65%);
}

section{
    width: 100vw;
    height: 100vh;
}

section.s2{
    width: 100vw;
    height: auto;
    padding: 30% 0 30% 0;
}
section.s4{
    width: 100vw;
    height: auto;
}

.p2{
    background: rgb(114, 218, 250);
}

.p3{
    background: rgb(155, 114, 250);
}

span.h1{
    font-weight: 500;
    font-size: 3rem;
}
.text-box{
  width: 100%;
}
.text-box h2{
    color:rgb(255, 255, 255);
    opacity: .5;
    font-weight: 250;
    font-size: 2.3rem;
}
.text-box p{
    min-width:100px;
    max-width:520px;
    text-align:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -.03em;
    line-height: 30px;
    text-align: justify;

    color: #050505;
    opacity: .9;
    position: relative;

}
/* p:after {
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
} */

.reveal
{
    border-radius: 2px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    /* transition: all 2s ease; */
    transition: transform .6s ease-in-out,opacity .4s ease-in-out;
}

.reveal.active
{
    transform: translateY(0px);
    opacity: 1;
}
.hero-image{
    /* overflow-x: hidden; */
    /* filter: contrast(110%) brightness(100%); */
    position: absolute;
    z-index: -1;
    top: 13%;
    left: 69%;
    width: 40%;
}
/* .noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;   
    z-index: -10;
    pointer-events: none;
    background: url(images/noise.jpeg);
} */

.hero-image img{
    min-width: 200px;
    width: 60%;
}
#heart{
    transition: .1s ease-in-out;
    filter: drop-shadow(
    1px 2px 4px rgba(92, 22, 22, 0.389));
  
    animation: 1.5s ease 0s infinite beat;
    filter:
      drop-shadow(
        1px 2px 8px hsl(0deg 0% 2% / 0 0.05)
      )
      drop-shadow(
        2px 4px 16px hsl(0deg 0% 2% / 0 0.05)
      )
      drop-shadow(
        4px 8px 32px hsl(0deg 0% 2% / 0 0.05)
      );
  }
@keyframes beat {
    0%, 70%, 100% { transform: scale(1, 1); }
    50%, 80% { transform: scale(0.94, 0.97); }
  }
  
  @keyframes pulse {
    0%, 50%, 100% {  background: #fee; }
    30%, 80% { background: #fff; }
}
.hero-menu{
    user-select: none;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-right: 22.4%;
    margin-top: 3%;
}
.hero-menu h3{
    /* font-family: 'Saira', sans-serif; */
    letter-spacing: .2rem;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 95%;
    color: rgb(30, 30, 30);
    margin-bottom: 3%;
    margin-left: .5%;
}
.hero-text{
    font-family: "Roc Grotesk", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 160px;
    line-height: 85%;
}
/* .black-box{
    position: absolute;
    z-index: 1;
    height: 20px;
    width:300px;
    background-color: rgb(5, 5, 5);
    margin-top: 35px;
} */
.fade-in-text { 
    animation: fadeIn 1s forwards; 
    opacity: 0;
    animation-delay: 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; 
        transform: translateY(30px)}
    100% { opacity: 1; 
        transform: translateY(0)}
}
/*TWISTING TEXT*/
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    counter-reset: menucounter;
}

.menu-item{
    width:1rem;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item-text{
    pointer-events: none;
    display: block;
    line-height: 1;
    position: relative;
    font-size: 2rem;
}
.menu-item-text2{
    width: .3rem;
}

.menu-item > div:nth-child(1) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.03s * var(--index));
    transform-origin: bottom;
    display: inline-block;
}

.menu-item > div:nth-child(2) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.03s * var(--index));
    transform-origin: top;
    display: inline-block;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
    color: rgb(255, 255, 255);
}

.menu-item:hover > div:nth-child(1) span{
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span{
    transform: translate3d(0, 0%, 0) rotateX(0deg);
}
.menu-item-text2{
    font-weight: 100;
    font-size: 4rem;
}
/*TWISTING TEXT*/

section.s2 img{
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    max-width: 18em;
    max-height: 40%;
    height: auto;
    top: -7px;
}

.container1{
    /* overflow: visible; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr.line {
    border: 0;
    height: 1px;
    background-color: black;
    position: relative;
    top: -2px;
  }
/* Animated Text */

:root{
    --var-color-one: rgb(240, 240, 240);
    --var-color-two: rgb(16, 16, 16);
}
h1, li{
    /* color: var(--var-color-one); */
    color:rgb(5, 5, 5);
}

ul li{
    display: flex;
    overflow: hidden;
}

ul li span{
    /* text-transform: uppercase; */
    transform: translateY(200%);
}

ul li span.active{
    transform: translateY(0%);
    /*fun*/
    /* transition: 1s cubic-bezier(0.68,-0.55,0.27,1.55); */
    /*default*/
    transition: 1s cubic-bezier(0.37,0,0.18,1);
    
}

.gap{
    width: 1rem;
}

.idle-scroll{
    opacity: 0;
}
.big-text h1{
    position: relative;
    z-index: -1;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 600;
    /* font-size: 15.5em; */
    font-size: clamp(6.5em, 21vw, 18.5em);
    line-height: 461px;
    color: #181818;
}
.youtube-video iframe
{
    width: 84%;
    height: 100vh;
}
.youtube-video{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.youtube-info{
    color: rgb(5,5, 5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84%;
    margin: auto;
    position: relative;
    top: 100px;
}
.youtube-info a {
    color: rgb(5,5, 5);
    text-decoration: none;
    opacity: .5;
}
.padding-top{
    padding-top: 185px;
}
.two-projects{
  padding-inline: 10%;
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.two-projects a{
    text-decoration: none;
}
.two-projects img{
    background-position: center;
    object-fit: cover;
    transition: .2s cubic-bezier(0,.65,.28,1);
    position: relative;
    background: grey;
    width: 100%;
    height: 38vh;
    filter: grayscale(100%);
}
.two-projects img:hover{
    filter: grayscale(0%);
}


.project-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 20px;
}
.project-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: rgba(5, 5, 5, 0.5);
}
.project-name p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
hr {
        border: 0;
        height: 1px;
        background-color: black;
        position: relative;
        top: -2px;
}


.grid-container > div {
    text-align: center;
    font-size: 30px;
}
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 350px 370px 320px;
    width: clamp(100px, 80vw, 720px);
    height: 1000px;
    margin: auto;
    margin-top:-195px;
    gap: 20px;
    /* background-color: #2196F3; */
    padding: 10px;
}
.space{
    width: 100%;
    height:100px;
}
.github img{
    mix-blend-mode: difference;
    width: 40px;
}
footer h3{
    font-size: 2rem;
}

footer a.email{
    font-family: "Roc Grotesk", sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    display: block;
    max-width: 89%;
    font-size: 6rem;
    text-align: right;
    margin: auto;
    /* overflow-wrap: break-word; */
}

a.email{
    height:50vh;
    width: 85%;
    left: .5%;
}

textarea{
    color: var(--off-black);
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0);
    font-size: clamp(5.7585rem, 6.4vw, 25rem); 
    /* font-size: clamp(5.7585rem, 4vw, 6rem);  */
    resize: none;    
    /* border: solid red 3px; */
}
textarea:hover{
    text-decoration: underline;
}

footer a:hover{
    text-decoration:underline;
}

.icons-container{
    margin: auto;
    width: 94.4%;
}
.footer-icon.d{
    position: relative;
    right: -.4%;
}
.footer-icon{
    opacity: .7;
    mix-blend-mode: difference;
    width:20px;
    display: inline-flex;
    margin-left: 1%;
}
.footer-icon:hover{
    transform: scale(1.1);
    transition: .1s ease-in-out;
    filter: invert(65%);
}
.footer-icon.a{
    margin-left: 5.5%;
}
.footer-icon.d{
    margin-left: 80%;
}

.sub-text-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1em, 1.5vw, 5em);
    line-height: 36px;

    color: rgba(0, 0, 0, 0.5);
}
.sub-text-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1em, 1.5vw, 5em);
    line-height: 36px;
    text-align: right;

    color: rgba(0, 0, 0, 0.5);
}
.heart-icon{
    background: url(images/heart-icon.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
}
.heart-icon-cont{
    position: relative;
    width: 10px;
}

.sub-text-container{
    width: 84%;
    margin:auto;
    margin-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.s1{
  overflow-x: hidden;
}
section.project1-s1{
    /* border: solid red 3px; */
    height: 160vh;
}
section.project2-s1{
    height: 180vh;
}
.img_cont{
    width: 100%;
    /* border: solid red 3px; */
    position: absolute;
    top: 500px;
    left: 0;
}
.img_cont_SV{
    width: 100%;
    /* border: solid red 3px; */
    display:absolute;
    top: 0px;
    left: 0;
}
.project_img img{
    border-radius: 2px;
    width: clamp(380px, 75%, 800px);
    height: auto;
    background: grey;
}
.project_img h1{
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(38px, 100%, 4rem);
    line-height: 103%;
}
.project_img{
    margin-left: 13%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
}

.project1-s1 h1{
    position: relative;
    top: 15%;
    right:-40.5%;
    width: auto;
    rotate: -90deg;
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12rem;
    font-size: clamp(10rem, 10vw, 12rem);
    line-height: 103%;
    color: #2C2C2C;
}
.project2-s1 h1{
    position: relative;
    top: 25%;
    right:-41.5%;
    width: auto;
    rotate: -90deg;
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12rem;
    font-size: clamp(10rem, 10vw, 12rem);
    line-height: 103%;
    color: #2C2C2C;
}
/* PROJECT 2 ---------- */

#toast{
    position:fixed;
    top:0;
    left:50%;
    transform:translate(-50%);
    background-color:rgb(255, 255, 255);
    color:rgb(19, 19, 19);
    padding:16px;
    border-radius:4px;
    text-align:center;
    z-index:1;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    visibility:hidden;
    opacity:0;
  }
  button .email_button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100%;
    height: 100%;
  }
  .fab{
    color: red;
    font-size: 80px;
    width: 80px;
    height: 80px;

  }
  
  #toast.show{
    visibility:visible;
    animation:fadeInOut 3s;
  }
  
  @keyframes fadeInOut{
    5%,95%{opacity:1;top:50px}
    15%,85%{opacity:1;top:30px}
}
.project1-s2{
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/* .stroke {
    font: 800 40px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px var(--off-grey);
} */

/* PORTSIDE BOULDERS PROJECT TEMPLATE */
.hero_project{
    position: relative;
    background-color: rgb(148, 97, 97);
    background: url(images/portside-image.png);
    background-size: cover;
    top:-20px;
    left: 0;
    width: 100vw;
    margin: auto;
    height: 90vh;
  }
  .proj-summary{
    height: auto;
    padding-top: 10%;
    width: 84%;
    margin: auto;
    padding-bottom: 1%;
  }
  .proj-images{
    padding-top: 5%;
    display: flex;
    align-items: baseline;
    justify-content:space-between;
  }
  .proj-image-1{
    background: grey;
    background: url(images/walls.png);
    position: relative;
    width: 41.2vw;
    height: 45vh;
    background-size: cover;
  }
  .proj-image-2{
    background: grey;
    background: url(images/aboutus.png);
    position: relative;
    background-size: cover;
    width: 41.2vw;
    height: 45vh;
  }
  .proj-summary h1{
    font-family: 'Roc Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(3rem, 3.5vw, 12rem);
    line-height: 76%;
  }
  .project-info{
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-info h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1.3em, 1.6vw, 7.5em);
    line-height: 76%;
    color: #050505;
  }
  .project-info p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1.3em, 1.6vw, 7.5em);
    line-height: 76%;
    text-align: right;
    color: #797979;
  }
  .screens{
    width: 100%;
    margin: auto;
  }
  .screen-info-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  .screen-info-2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: rgba(5, 5, 5, 0.5);
  }
  .screen-info-2 h1{
    margin-top: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgb(5, 5, 5);
  }
  .main-header{
    padding-bottom: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1.8em, 2.3vw, 8em);
    line-height: 76%;
    color: #050505;
  }
  .spacebetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .uploadtext{
    padding-bottom: 2%;
  }
  .problem-content{
    width: 49.3%;
    padding-top: 15%;
    
  }
  .problem-text{
    width: 100%;
  }
  .problem{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .problem-main-text{
    width: 49.1%;
    position: relative;
    top: -135px;
  }
  .problem-content img{
    width: 100%;
    height: 30vh;
    background: grey;
  }
  .problemsolving{
    padding-top: 20%;
    padding-bottom: 10%;

  }
  .right{
    text-align: right;
  }
  .subtext{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(.9em, .9vw, 7.5em);
    line-height: 18px;
    color: rgba(5, 5, 5, 0.5);
  }
  .subheading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1em, 1.5vw, 5em);
    line-height: 28px;
    color: rgb(5, 5, 5);
  }
  .bodycopy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1em, 1.1vw, 5em);
    color: rgb(5, 5, 5);
    line-height: 1.2em;
  }
  .small-header{
    font-size: clamp(1.2em, 1vw, 3em);
  }
  .screens-line{
    text-align: left;
  }
  .screens2 img{
    width: 100%;
    height: 50vh;
    background: grey;
  }
  h1.project-goals{
    margin-top: 15%;
  }
  .solution{
    width: 100%;
  }
  .solution p{
    margin-top: 10%;
    padding-bottom: 1%;
    text-align: right;
  }
  .summary{
    width: 84%;
    margin: auto;
  }
  .summary-text{
    margin-top: 35%;
    width: 41.2vw;
    font-size: 1.125rem;
  }
  .summary-text h1, .dot-points-holder h1{
    padding-bottom: 3%;
  }
  .summary-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: auto;
  }
  .summary-content img{
    width: 51%;
    padding: 20px;
    padding-left: 0px;
  }
  .dot-points-holder{
    padding-top: 25%;
  }
  .dot-points-holder p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #000000;
  }
  .tools-holder{
    width: 49.25%;
    padding-top: 15%;
    text-align: right;
  }
  .tools-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8%;
  }
  .margin-bottom-3{
    margin-bottom: 3%;
  }
  .tools-holder img{
    padding-top: 2%;
    padding-bottom: 1%;
    width: 80%;
  }

  .colour-palette-holder{
    height: auto;
    width: 49.5%;
    margin-left: 50.5%;
  }
.colour-palette{
    padding-top: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}
  .portside-colour-1,  
  .portside-colour-2,   
  .portside-colour-3,   
  .portside-colour-4{
    background: grey;
    width: 8.8rem;
    height: 8.8rem;
  }
  .orange{
    background: #FF8A32;
  }
  .blue{
    background: #017BE1;
  }
  .portwhite{
    background: #F0ECE8;
  }
  .portblack{
    background: #141414;
  }
  .colour-pallete-info h1{
    padding-top: 8%;
    padding-bottom: 2%;
  }
  .colour-pallete-info p{
    padding-top: 2%;
  }

  .personas{
    padding-top: 20%;
    text-align: right;
  }
  .persona-info{
    padding-top: 30%;
    padding-bottom: 15%;
    text-align: right;
    width: 49.3%;
  }
  .persona-info h1{
    padding-bottom: 4%;
  }
  .persona1{
    margin-top: 35%;
    margin-bottom: 35%;
  }
  .image_info{
    text-align: right;
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: center;
    flex-direction: row;
  }
  .image_info img{
    margin-right: 5%;
    width: 25%;
  }
  .description{
    width: 30%;
  }
  .description h1{
    font-family: 'Inter';
    text-decoration: underline;
    font-weight: 200;
    font-size: 33px;
    line-height: 76%;
    text-decoration-thickness: .01em;
  }
  .description p{
    padding-top: 8%;
    padding-bottom: 2%;
  }
  .bottom_info{
    padding-top: 2%;
    width: 25%;
    position: relative;
    margin-left: 50.75%;
  }
  /* PERSONA 2 */
  .image_info_p2{
    text-align: left;
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: center;
    flex-direction: row;
  }
  .image_info_p2 img{
    margin-left: 5%;
    width: 25%;
  }
  .description{
    width: 30%;
  }
  .persona2 .description p{
    text-align: left;
  }
  .description h1{
    font-family: 'Inter';
    text-decoration: underline;
    font-weight: 200;
    font-size: 33px;
    line-height: 76%;
    text-decoration-thickness: .01em;
  }
  .description p{
    padding-top: 8%;
    padding-bottom: 2%;
  }
  .bottom_info{
    padding-top: 2%;
    width: 25%;
    position: relative;
    margin-left: 50.75%;
  }
  .bottom_info_p2{
    text-align: right;
    padding-top: 2%;
    width: 25%;
    position: relative;
    margin-left: 24.3%;
  }
  .bottom_info p, .bottom_info_p2 p{
    padding-bottom: 1%;
  }



.highlight span{
    font-size: 28px;
    color: white;
    font-weight: 500;
}
.highlight p{
    font-size: 10px;
}
.box{
    margin-bottom: 45%;
    /* border: solid yellow 0px; */
}
.highlight h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 76%;
    
    color: white;
}
.highlight p{
    font-weight: 500;
    font-size: 20px;
    margin-top: 3%;
}
#about{
    position: absolute;
    top: 245%;
    width: 100%;
}

/* ------------------------ SUSTAINABLE VICTORIA ------------------------ */
.VS_image_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.VS_image_1 img{
    margin-left: -30%;
    margin-top: -20%;
    position: absolute;
    border-radius: 2px;
    width: clamp(130vw, 250%, 800px);
    height: auto;
}
.VS_image_2 img{
    padding-top: 65%;
    margin-left: 15%;
    position: absolute;
    border-radius: 2px;
    width: clamp(120px, 40%, 800px);
}
.project2-s2{
    padding-bottom: 700px;
}
.VS_images{
    display: none;
}
.VS_section_end{
    width: 110%;
    height: auto;
    padding-bottom: 5%;
}
.VS_section_end img{
    width: 110%;
}

/* TOOL TIP */
.popover-item{
    position: relative;
  }
  .popover-content{
    display:none;
    position: absolute;
    left: 105%;
    display: none;
    font-size: 1.2rem;
    background-color: rgba(230, 230, 230, 1);
    padding: 10px 20px;
    border-radius: 16px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: normal;
    z-index:111;
    width:300px;
  }
  .popover-content:hover{
    display:none!important;
  }
  .popover-item:hover .popover-content{
    display: block;
  }
  .popover-content h1{
    font-size:20px;
  }

  /* PROJECT | fernfinder. */
  .transition{
    z-index: 10;
    position: absolute;
    /* mix-blend-mode: overlay; */
    background: var(--off-black);
    background:rgb(223, 223, 223);
    /* background: white; */
    width: 200vw;
    height: 800vh;
    animation: transitionOverlay 1.5s forwards; 
  }
@keyframes transitionOverlay {
    0% { transform: rotate(10deg) translateX(-100vw);}
    100% { transform: translateX(100vw)}
}
  .ff_heroheader h1{
    font-family: Violet-Sans; 
    padding-top: 250px;
    margin-left: 180px;
    font-size: 4rem;
    font-weight: 100;
    line-height: .8;
  }
  .ff_heroheader h2{
    line-height: 1;
    font-family: Violet-Sans; 
    margin-left: 180px;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: .02em;
    color: var(--off-grey);
  }
  .wrapper{
    margin-top: -50px;
    height: 810px;
    display: flex;
    /* overflow-y: hidden; */
    margin-left: 180px;
  }
  .wrapper::-webkit-scrollbar{
    width: 0px;
  }
  .wrapper .item{
    transition: all .1s ease-in-out;
    min-width: 80vw;
    height: 810px;
    /* line-height: 110px; */
    text-align: center;
    /* background-color: #ddd; */
    margin-right: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .item img, .item_end img{
    width: 80vw;
    object-fit: cover;
    flex-shrink: 0;
}
  .wrapper .item_end{
    min-width: 80vw;
    height: 810px;
    line-height: 110px;
    text-align: center;
    margin-right: 105px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
    .ff_one{ 
    height: auto;
    width: 100%;
  }

  .ff_two{
    margin: auto;
    height: 130vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ff_two h1{
    font-size: 3em;
    font-weight: 500;
  }
  .ff_two p{
    font-size: 1em;
    font-weight: 300;
  }
  .ff_projectgoals{
    border-radius: 1px;
    padding: 10px;
    padding-bottom: 60px;
    height: auto;
    /* border: solid rgba(255, 255, 255, 0.44) 1px; */
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    top: -20px;
  }
  .ff_projectgoals h1{
    letter-spacing: .1rem;
    font-weight: 400;
    font-size: 2em;
  }
  /* .ff_projectgoals h1::before{
    content: url("/images/goal.png");
  } */
  .ff_three{
    height: auto;
    width: 100%;
    display: flex;
  }
  .ff_target_info h1{
    margin-top: 30%;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: .05em;
  }
  .ff_target_info p{
    font-size: 1em;
    font-weight: 300;
  }
  .ff_targetaudience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    margin: auto;
    padding: 2%;
    width: 70%;
    height: auto;
  }
  .first-persona
  {
    position: relative;
    z-index: 1;
  }
  .ff_target_info{
    width: 400px;
    height: 550px;
    margin: 0px 2px 2px 2px;
  }
  .ff_four{
    height: 130vh;
    width: 100%;
    background: rgb(87, 133, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ff_five{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ff_prototype{
    text-align: left;
    background: salmon;
    width: 80vw;
    height: 80vh;
  }
  .ff_final{
    text-align: left;
    background: salmon;
    width: 80vw;
    height: 80vh;
  }
  .ff_lower_images{
    display: flex;
  }
  .ff_prototype img{
    width: 102%;
  }
  .ff_final img{
    width: 104%;
  }
  
  .image_container{
    display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }

  .image_container img{
  object-fit: cover;
  flex-shrink: 0;
}
.text-holder{
    text-align: center;
}
.persona-content{
    position: relative;
    top: -40px;
}
.persona-content p{
    font-size: 18px;
    font-weight:100;
    margin-left: 20px;
    width: 95%;
}
.colour-body{
    border-radius: 2px 2px 0px 0px;
    height: clamp(310px, 60vw, 360px);
    background-image: linear-gradient(#e3ced1, #e8c3c3);
}
.name{
    font-family: Roc Grotesk Wide;
    font-size: 60px;
    font-weight:600;
}
/* .text-holder hr{
    border: 1px solid white;
    margin-top: -10px;
    width: 100%;
} */
.bold{
    font-family: "Roc Grotesk", sans-serif;
    font-size: 1.1em;
    letter-spacing: .02em;
    font-weight: 400;
}
.personainfo{
    margin-top: 10px;
    margin-left: 20px;
}
span.smaller-text {
    font-size: 1em;
    font-weight: 100;
}

/* COLLAPSABLE */
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }

  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  
  .accordion {
    transition: all .5s ease-in-out;
    width: 100%;
    height: auto;
    margin-top: 9em;
    margin-bottom: 1em;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    transition: all .1s ease-in-out;
    padding: 15px;
    border: 2px solid #e8c3c3;
    border-top: 0;
    color: rgb(11, 11, 11);
    background: rgb(187, 187, 187);
    }
  
  img{
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
  }
  .accordion .handle {
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight:900;
    line-height: 1.2em;
  }
  
  .accordion label {
    border-radius: 0px 0px 1px 1px;
    padding: 15px;
    color: rgb(176, 176, 176);
    cursor: pointer;
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 500;
    font-size: 23px;
    background-image: linear-gradient(#292929, #2b2b2b);
  }
.handle label{
    padding-left: 20px;
  }
  
  .accordion label:hover,
  .accordion label:focus {
    opacity: .9;
    background-image: linear-gradient(#e3ced1, #e8c3c3);
    background-image: linear-gradient(45deg,#e62041,#eb2e4d 100%);
  }
  
  
  .accordion > input[type="checkbox"]:checked ~ .handle label {
    background-image: linear-gradient(#c2acb0, #b09595);
    color: #292929;

  }
  .accordion > input[type="checkbox"]:checked ~ .handle label:hover,
  .accordion > input[type="checkbox"]:checked ~ .handle label:focus {
    opacity: .9;
    background-image: linear-gradient(#e3ced1, #e8c3c3);
    background-image: linear-gradient(45deg,#e62041,#eb2e4d 100%);
  }

@media screen and (max-width: 1200px){
    .sub-text-1, .sub-text-2{
        max-width: 100%;
    }
}

@media screen and (max-width: 1010px){
    .footer-icon.d{
        margin-left: 0%;
    }
}

@media screen and (max-width: 1010px){
    
    section.s2 img{
      position: relative;
      max-width: 25em;
      max-height: 40%;
      height: auto;
      top: 0px;
      padding-bottom: 8%;
    }
    
    .container1{
        padding-top: 33%;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    section .accordion{
        position: relative;
    }

    .hero-image{
        position: absolute;
        top: 15%;
        left: 50%;
    }
    
    .hero-image img{
        min-width: 230px;
        width: 53%;
    }
    .hero-menu{
        user-select: none;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-right: 25%;
        margin-top: 2%;
    }
    .hero-menu h3{
        /* font-family: 'Saira', sans-serif; */
        font-weight: 600;
        letter-spacing: .12rem;
        font-size: 20px;
        margin-left: 11%;
        line-height: 95%;
        color: var(--off-grey);
        margin-bottom: 5%;
        width: 60%;
    }
    .hero-text{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 95%;
        width: 100%;
        margin-left: 10%;
    }
    .hero-menu h3{
        text-transform: uppercase;
        font-weight: 600;
    }
    nav #anim{
        position: fixed;
        filter: brightness(0) invert(1);
        width: 15rem;
        margin-top: -40px;
        margin-left: -50px;
    }
    /* TOOLTIP */
    html, body {
        height: 100%;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        font-family: monospace;
        color: #1d1d1d;
    }
    
    .pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    
    .links {
        list-style: none;
        margin: 40px 0 0 0;
        padding: 0;
    }
    
    .links li {
        display: inline-block;
        font-size: 40px;
        padding: 10px;
    }
    
    .links li a {
        color: #1d1d1d;
    }
    
    /* lib styles */
    .tooltip {
        position: absolute;
      }
      .tooltip {
        position: absolute;
        width: 140px;
        padding: 15px 10px;
        border-radius: 4px;
        font-family: monospace;
        text-align: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
      }
@media screen and (max-width: 900px){
  .padding-top{
    padding-top: 20px;
}
  footer{
    padding-top: 30%;
  }
    a.email{
        height:90vh;
        overflow:hidden;
    }
    nav ul li a{
      font-size: clamp(1.em, 1.5vw, 6.5em);
  }
}

@media screen and (max-width: 1000px){
    .portside_text{
        width: 80%;
    }
    .VS_image_container{
        display: none;
    }
    .project2-s1{
        margin-left: -105%;
        margin-right: 0;
        width: 200%;
    }
    .VS_images{
        display: all;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .VS_image_2{
        width: 500px;
    }
    .project2-s2{
        padding-bottom: 100px;
    }
    .my_tools{
        margin-bottom: -30%;
    }
    .box{
        margin-bottom: 20%;
    }
    section.project2-s1 {
        height: 150%;
    }
}
}